body {
  background: #ccc;
}

.board {
  height: 640px;
  width: 640px;
  border: 20px solid #555;
  position: relative;
}

.player-turn {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}

.player-turn h1 {
  background: #fff;
  margin: 0;
  padding: 8px 16px;
  border: 20px solid #555;
  border-bottom: none;
}

.player-turn h1:not(:first-child) {
  border-left: none;
}

.player-turn .player-1 {
  color: blue;
}

.player-turn .player-2 {
  color: red;
}

.player-turn .vs-piece .red {
  color: red;
}

.player-turn .vs-piece .blue {
  color: blue;
}

.player-turn .new-game {
  cursor: pointer;
}

.row {
  display: flex;
  width: 100%;
  height: 80px;
}

.column {
  width: 80px;
  height: 80px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:nth-child(odd) .column:nth-child(odd),
.row:nth-child(even) .column:nth-child(even) {
  background: white;
}

/* .column.clicked {
  background: yellow !important;
} */

.piece {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.piece.red {
  background: red;
}

.piece.blue {
  background: blue;
}

.king {
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50%;
}
