body {
  background: #ccc;
}

.board {
  height: 640px;
  width: 640px;
  border: 20px solid #555;
  position: relative;
}

.player-turn {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.player-turn h1 {
  background: #fff;
  margin: 0;
  padding: 8px 16px;
  border: 20px solid #555;
}

.player-turn .player-1 {
  color: blue;
}

.player-turn .player-2 {
  color: red;
}

.row {
  display: flex;
  width: 100%;
  height: 80px;
}

.column {
  width: 80px;
  height: 80px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row:nth-child(odd) .column:nth-child(odd),
.row:nth-child(even) .column:nth-child(even) {
  background: white;
}

/* .column.clicked {
  background: yellow !important;
} */

.piece {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.king {
  width: 30px;
  height: 30px;
  background: yellow;
  border-radius: 50%;
}
